<html lang="en" class="h-100">
  <head>
    <%- include('../../partials/head'); %>
  </head>
  <body
    class=""
    style="background-color: #fafafa; padding-bottom: 80px; padding-top: 60px"
  >
    <div class="bg-white shadow-sm py-3 text-center fixed-top">
      <div
        style="
          float: left;
          position: absolute;
          margin-left: 10px;
          vertical-align: center;
        "
      >
        <a
          class="navbar-brand"
          href="javascript:history.back()"
          style="text-decoration: none; color: black"
          ><i class="bi bi-chevron-left" style="font-size: 23px"></i
        ></a>
      </div>
      <div>
        <h3 style="font-weight: 500; margin-bottom: 0; width: 100%">
          대한에너지 솔루션
        </h3>
      </div>
      <div></div>
    </div>

    <div class="px-4 py-4">
      <div class="d-flex align-items-center" style="margin-bottom: 16px">
        <h3 class="mb-3" style="margin-bottom: 0 !important">투자 정보</h3>
        <i
          class="fa fa-question-circle help-button"
          style="font-size: 20px; color: grey; margin-left: 10px"
        ></i>
        <p style="margin-bottom: 0 !important; margin-left: auto">
          현재 기준 (10분 지연)
        </p>
      </div>

      <table class="table">
        <tbody class="text-center">
          <tr>
            <td style="font-weight: bold">1일 최고가</td>
            <td>32,780 원</td>
            <td style="font-weight: bold">1일 최저가</td>
            <td>32,000원</td>
          </tr>
          <tr>
            <td style="font-weight: bold">1일거래량 (개인, 순매수)</td>
            <td>19,148주</td>
            <td style="font-weight: bold">1일 거래량 (기관, 순매수)</td>
            <td>9,714주</td>
          </tr>
          <tr>
            <td style="font-weight: bold">PER</td>
            <td>13.69</td>
            <td style="font-weight: bold">PBR</td>
            <td>0.85</td>
          </tr>
          <tr>
            <td style="font-weight: bold">배당수익률</td>
            <td>0.95%</td>
            <td style="font-weight: bold">외국인 소진율</td>
            <td>28.04%</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="px-4 py-4">
      <h3 class="mb-3">회사 소식</h3>

      <table class="table">
        <tbody class="text-center">
          <tr>
            <td style="font-weight: bold">3.23</td>
            <td>
              <b>대표이사 변경 </b><br />
              대표이사 최희태 선임
            </td>
          </tr>
          <tr>
            <td style="font-weight: bold">3.15</td>
            <td>
              <b>2021년 연간 확정실적 발표 </b>
              <br />
              영업이익 445억원, 2020년보다 31.9% 증가
            </td>
          </tr>
          <tr>
            <td style="font-weight: bold">2.22</td>
            <td>
              <b>2021년 배당 결정 </b>
              <br />
              주식 1주당 300원 지급
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="px-4 py-4">
      <h3 class="mb-3">매출액 및 영업이익</h3>
    </div>
    <div>
      <canvas id="myChart" style="width: 100%; max-width: 600px"></canvas>
    </div>
    <%- include('../../partials/timer', {btn: "주문", type: "test"}) %>

    <script>
      let minutes = localStorage.getItem("timeSpentDaeInfoMin")
        ? Number(localStorage.getItem("timeSpentDaeInfoMin"))
        : 0;
      let seconds = localStorage.getItem("timeSpentDaeInfoSec")
        ? Number(localStorage.getItem("timeSpentDaeInfoSec"))
        : 0;
      let totalSeconds = Number(minutes) * 60 + Number(seconds);
      setInterval(setTime, 1000);

      function setTime() {
        ++totalSeconds;
        seconds = pad(totalSeconds % 60);
        minutes = pad(parseInt(totalSeconds / 60));
        localStorage.setItem("timeSpentDaeInfoMin", minutes);
        localStorage.setItem("timeSpentDaeInfoSec", seconds);
      }

      function pad(val) {
        let valString = val + "";
        if (valString.length < 2) {
          return "0" + valString;
        } else {
          return valString;
        }
      }

      if (
        localStorage.getItem("condition") == "B" ||
        localStorage.getItem("condition") == "D"
      ) {
        document.querySelectorAll(".help-button").forEach((el) => {
          el.style.display = "none";
        });
      }

      let xValues = ["2018", "2019", "2020", "2021"];
      let yValues = [55, 49, 44, 24, 15];
      let barColors = ["red", "green", "blue", "orange", "brown"];

      new Chart("myChart", {
        type: "bar",
        plugins: [ChartDataLabels],
        data: {
          labels: xValues,
          datasets: [
            {
              label: "매출액",
              backgroundColor: "orange",
              data: [
                {
                  x: "2018",
                  y: 5100,
                },
                {
                  x: "2019",
                  y: 5250,
                },
                {
                  x: "2020",
                  y: 5600,
                },
                {
                  x: "2021",
                  y: 6500,
                },
              ],
            },
            {
              label: "영업이익",
              backgroundColor: "green",
              data: [
                {
                  x: "2018",
                  y: 560,
                },
                {
                  x: "2019",
                  y: 504,
                },
                {
                  x: "2020",
                  y: 432,
                },
                {
                  x: "2021",
                  y: 570,
                },
              ],
            },
          ],
        },
        options: {
          legend: { display: false },
          plugins: {
            datalabels: {
              formatter: (val) => {
                let returnValue = val.y;
                return returnValue.toLocaleString() + " 억";
              },
              color: "black",
              anchor: "end",
              align: "end",
            },
          },
        },
      });
    </script>
    <script src="/js/popup.js"></script>
  </body>
</html>
