<html lang="en" class="h-100">
  <head>
    <%- include('../../partials/head'); %>
  </head>
  <body class="d-flex flex-column h-100" style="justify-content:center;">
    <div class="mt-5 p-3" style="margin-top:0!important;">
      <h5 style="text-align:center">실험이 종료되었습니다<br /> 수고하셨습니다.</h5>
      <br />
    
      <h5 style="text-align:center"> 귀하의 수익률 : (<span class="per"></span>) %</h5>
       <br />
      <h5 style="text-align:center"> 관리자에게 참여비를<br />수령하시길 바랍니다.</h5>
    </div>
    <div>
      <div class="d-grid fixed-bottom">
        <button
          class="btn btn-primary py-3 rounded-0"
          onclick="window.location.href = 'http://www.naver.com'";
        >
          종료
        </button>
      </div>
    </div>
    <script>
        let button = document.querySelector('button');
        let per = localStorage.getItem('per');

        document.querySelector('.per').innerText = per;
        setTimeout(() => {
            button.removeAttribute('disabled');
        }, 5000);
    </script>
  </body>
</html>