<html lang="en" class="h-100">
  <head>
    <%- include('../../partials/head'); %>
  </head>
  <body class="d-flex flex-column h-100">
    <%- include('../../partials/navbar', {title: "실험 전 안내사항"}) %>
    <div class="mt-5 p-3 text-center">
      <h5>
        모바일 주식 거래 시스템에 새로운 기능이 추가 되었습니다.
        <br />
        <br />
        <b>그래프 하단을 살펴봐주세요!</b>
        <br />
        <br />
        아직 주식 가격은 바뀌지 않았고, 주문 물량도 수정할 수 있습니다.
        <br />
        <br />
        “다음”을 눌러 정보를 참고하여 주문해보세요!
        <br />
        <br />
        주어진 정보는 사후 설문에서 퀴즈로 평가되니 주의깊게 봐주세요.
      </h5>
    </div>
    <div>
      <div class="d-grid fixed-bottom">
        <button
          class="btn btn-primary py-3 rounded-0"
          disabled
          onclick="checkCondition()"
        >
          다음
        </button>
      </div>
    </div>
    <script>
      function checkCondition() {
        fetch("/test/check-condition", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({
            phoneNum: localStorage.getItem("phone"),
          }),
        })
          .then((res) => res.json())
          .then((data) => {
            if (data.status === 404) {
              alert("오류: 관리자에게 문의해주세요");
            } else {
              localStorage.setItem("condition", data.condition);
              location.href = "/test/order-test";
            }
          });
      }
      let button = document.querySelector("button");
      setTimeout(() => {
        button.removeAttribute("disabled");
      }, 5000);

      window.localStorage.setItem("balance", 200000);
      window.localStorage.removeItem("endTime");
    </script>
  </body>
</html>
