<html lang="en" class="h-100">
  <head>
    <%- include('../../partials/head'); %>
  </head>
  <style>
    p {
      text-align: center;
    }
  </style>
  <body class="d-flex flex-column h-100">
    <%- include('../../partials/navbar', {title: "설문"}) %>
    <div class="mt-5 p-3">
      <p>
        앞선 의사 결정에 대한 몇 가지 질문을 드리겠습니다.
        <br />
        <br />
        아래 버튼을 눌러 설문에 입장하시어<br />
        성의 있는 답변을 부탁드리겠습니다.
        <br />
      </p>
      <div class="d-grid gap-2 d-md-block">
        <button
          class="btn btn-primary button-1"
          type="button"
          onclick="window.open(
          'https://ko.surveymonkey.com/r/mts_2nd',
          '_blank'
        );"
        >
          설문 시작하기
        </button>
      </div>
      <p>
        설문 제출 완료 후 "다음"을 눌러주세요 <br />
        (문제가 있을 시 관리자를 호출해주세요)
      </p>
    </div>
    <div>
      <div class="d-grid fixed-bottom">
        <button
          class="btn btn-primary py-3 rounded-0 button-2"
          disabled
          onclick="location.href='/test/result'"
        >
          다음
        </button>
      </div>
    </div>
    <script>
      let button1 = document.querySelector(".button-1");
      let button2 = document.querySelector(".button-2");
      button1.addEventListener("click", () => {
        button2.removeAttribute("disabled");
      });
    </script>
  </body>
</html>
