<div
  class="bg-white d-flex"
  style="
    border-radius: 20px;

    background: #ffffff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    align-items: center;
    margin-bottom: 12px;
  "
  onclick="if (window.location.href.includes('/onboarding')) {
    window.location.href = '/onboarding/<%= data.id %>';
  } else {
    window.location.href = '/test/<%= data.id %>';
  }"
>
  <img
    src="/images/<%= data.id %>-logo.png"
    style="width: 80px; height: 80px; border-radius: 25px; padding: 10px"
    alt="..."
  />
  <p
    style="
      font-size: 18px;
      margin-bottom: 0;
      font-weight: bold;
      margin-left: 5px;
    "
  >
    <%= data.name %>
  </p>
</div>
