<div class="px-3" style="padding-top: 30px; text-align: center;">
  <img
    src="/images/<%= data.id %>-logo.png"
    style="width: 80px; height: 80px; border-radius: 50px;"
    alt="..."
  />
  <h3 style="font-weight: 500; margin-bottom: 15px">
    <%= data.name %>
  </h3>
  <h4 style="font-weight: 500; margin-bottom: 15px">
    <%= data.price %>원
  </h4>
</div>
