<div class="d-flex fixed-bottom">
  <div
    class="timer text-center py-3 d-flex align-items-center justify-content-center"
    style="width: 30%; font-size: 13px; background-color: white"
  >
    <p style="margin: 0" class="timer"></p>
  </div>
  <div style="width: 100vw">
    <button
      class="btn btn-primary py-3 rounded-0"
      onclick="checkUrl()"
      style="width: 100%"
    >
      <%= btn %>
    </button>
  </div>
</div>
<script src="/js/timer.js"></script>
<script>
  //if window url ends with order, change location href to end
  function checkUrl() {
    console.log("called");
    if (location.href.endsWith("order")) {
      if (location.href.includes("/test/order")) {
        let time = document.querySelector(".timer").innerText.match(/\d+/g);
        let minleft = 9 - Number(time[0]);
        let secondLeft = 60 - Number(time[1]);

        localStorage.setItem('time', minleft + ":" + secondLeft);
        
        let phone = localStorage.getItem("phone");
        let stock1 = document.querySelector(".stock1").innerText;
        let stock2 = document.querySelector(".stock2").innerText;
        let session_code = localStorage.getItem("session_code");
        let timeSpentDaeComMin = localStorage.getItem("timeSpentDaeComMin");
        let timeSpentDaeComSec = localStorage.getItem("timeSpentDaeComSec");
        let timeSpentDaeInfoMin = localStorage.getItem("timeSpentDaeInfoMin");
        let timeSpentDaeInfoSec = localStorage.getItem("timeSpentDaeInfoSec");
        let timeSpentKaeInfoMin  = localStorage.getItem("timeSpentKaeInfoMin");
        let timeSpentKaeInfoSec = localStorage.getItem("timeSpentKaeInfoSec");
        let timeSpentKaeComMin = localStorage.getItem("timeSpentKaeComMin");
        let timeSpentKaeComSec = localStorage.getItem("timeSpentKaeComSec");

        console.log(phone, stock1, stock2);

        if(parseInt(stock1)+ parseInt(stock2) != 6 ){
          alert('잔고를 모두 사용하세요!');
        } else{
          fetch("/test/order-stock", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({
            phone: phone,
            stock1: stock1,
            stock2: stock2,
            session_code: session_code,
            timeLeft: localStorage.getItem("time"),
            timeDaeCom: timeSpentDaeComMin + ":" + timeSpentDaeComSec,
            timeDaeInfo: timeSpentDaeInfoMin + ":" + timeSpentDaeInfoSec,
            timeKaeCom: timeSpentKaeComMin + ":" + timeSpentKaeComSec,
            timeKaeInfo: timeSpentKaeInfoMin + ":" + timeSpentKaeInfoSec,
          }),
        }).then((data) => {
          if (data.status === 200) {
            //change location href to end
            location.href = "/test/loading";
          }
        });
        }
      } else {
        console.log("first");
        location.href = "/onboarding/end";
      }
    } else {
      location.href = "/<%= type %>/order";
    }
  }
</script>