<div class="d-flex fixed-bottom">
  <div
    class="timer text-center py-3 d-flex align-items-center justify-content-center"
    style="width: 30%; font-size: 13px; background-color: white"
  >
    <p style="margin: 0" class="timer"></p>
  </div>
  <div style="width: 100vw">
    <button
      class="btn btn-primary py-3 rounded-0"
      
      onclick="location.href='/<%= type %>/order'"
      style="width: 100%"
    >
      <%= btn %>
    </button>
  </div>
</div>
<script src="/js/timer.js"></script>
