<html lang="en" class="h-100">
  <head>
    <%- include('../../partials/head'); %>
  </head>
  <body class="d-flex flex-column h-100">
    <%- include('../../partials/navbar', {title: "Terms and agreement"}) %>

    <div class="p-3">
      <h5>연구 안내</h5>
      <div class="mt-3 border p-3">
        본 연구는 “제공 정보 차이에 따른 투자 의사 결정 변화 관찰”을 위한
        연구입니다. 이 연구는 자발적으로 참여 의사를 밝히신 분에 한하여
        수행되며, 귀하께서는 참여 의사를 결정하기 전에 본 연구가 왜 수행되는지
        그리고 연구의 내용이 무엇과 관련 있는지 이해하는 것이 중요합니다. 다음
        내용을 신중히 읽어보신 후 참여 의사를 밝혀 주시길 바랍니다. 만일
        문의사항이 있다면 최희재 석사과정(heuijae17@skku.edu)에게 연락바랍니다.
        <br />
        <br />
        1. 이 연구는 왜 실시합니까? <br />본 연구의 목적은 MTS 상에서 제공되는
        정보의 차이에 따라 개인 투자자의 투자 의사 결정 변화를 관찰하기 위한
        시뮬레이션 연구입니다. 그러므로 귀하는 개인 노트북을 활용하여 연구자가
        준비한 간단한 모의 주식 투자를 수행하게 될 것입니다. <br />
        <br />2. 얼마나 많은 사람이 참여합니까? <br />총 140명이 참여합니다.
        <br />
        <br />3. 만일 연구에 참여하면 어떤 과정이 진행됩니까? <br />안내에 따라
        온라인 사전 설문조사, 모의 투자, 두 번의 설문을 수행하게 됩니다.<br />
        <br />
        4. 연구 참여 기간은 얼마나 됩니까? <br />일회성으로, 40~50여분 정도
        걸립니다.
        <br />
        <br />5. 참여 도중 그만두어도 됩니까? <br />예, 귀하는 언제든지 어떠한
        불이익 없이 도중에 그만 둘 수 있습니다. 그만두는 경우 귀하의 자료는
        즉각적으로 폐기됩니다. <br />
        <br />6. 부작용이나 위험요소는 없습니까? <br />본 연구는 침습성이 없는
        실험 연구이기에 부작용에 대해 우려되는 바는 없습니다. <br />
        <br />7. 이 연구에 참여시 참여자에게 이득이 있습니까? <br />귀하가 이
        연구에 참여하는데 있어서 직접적인 이득은 없습니다. 그러나 개인
        투자자로서 스스로 투자 행태를 관찰할 수 있는 기회가 될 것입니다. <br />
        <br />8. 만일 이 연구에 참여하지 않는다면 불이익이 있습니까?
        <br />귀하는 본 연구에 참여하지 않을 자유가 있습니다. 또한, 귀하가 본
        연구에 참여하지 않아도 귀하에게는 어떠한 불이익도 없습니다.
      </div>
      <div class="d-flex justify-content-end mt-4">
        <input
          type="checkbox"
          class="btn-check"
          id="btn-check1"
          autocomplete="off"
        />
        <label class="btn btn-primary" id="btn-label1" for="btn-check1"
          >동의합니다</label
        >
      </div>
    </div>
    <div class="p-3">
      <h5>개인정보에 대한 비밀보장</h5>
      <div class="mt-3 border p-3">
        9. 연구에서 얻은 모든 개인 정보의 비밀은 보장됩니까?
        <br />
        개인정보관리책임자는 성균관대학교 일반대학원의 최희재 석사과정
        (010-2471-5181) 입니다. 연구 참여비 지급을 위한 계좌번호는 사용 후 즉각
        폐기됩니다. 그리고 연구 자료의 경우 성균관대학교 연구윤리 지침에 따라
        논문 게재 후 3년까지 보관될 예정입니다. 저는 이 연구를 통해 얻은 모든
        개인 정보의 비밀 보장을 위해 최선을 다할 것입니다. 이 연구에서 얻어진
        개인 정보가 학회지나 학회에 공개될 때 귀하의 이름 및 기타 개인 정보는
        사용되지 않을 것입니다. 그러나 만일 법이 요구하면 귀하의 개인정보는
        제공될 수도 있습니다. 또한 연구자는 연구참여자의 개인 정보에 대한 비밀
        보장을 침해하지 않고 관련규정이 정하는 범위 안에서 본 연구의 실시 절차와
        자료의 신뢰성을 검증하기 위해 연구 결과를 직접 열람할 수 있습니다.
        귀하가 본 동의서에 서명하는 것은, 이러한 사항에 대하여 사전에 알고
        있었으며 이를 허용한다는 동의로 간주될 것입니다.
        <br />
        <br />
        10. 이 연구에 참가하면 사례가 지급됩니까?
        <br />연구 참여시 귀하가 설문 종료 전에 입력해주신 계좌번호를 통해 최소
        3500원, 최대 7000원을 지급할 예정입니다. 이는 참여에 따른 이익이 아니며
        귀하의 참여가 학문적 측면에서 도움을 주시는 것에 대한 감사의 표시입니다.
        남겨 주신 계좌번호는 사례 지급 목적으로 사용된 후, 폐기될 것입니다.
        <br />
        <br />
        본 연구에 관련하여 의문사항이 있는 경우 성균관대학교 일반대학원 MIS전공
        최희재 석사과정(heuijae17@skku.edu)에게 연락주시기 바랍니다.
      </div>
      <div class="d-flex justify-content-end mt-4">
        <input
          type="checkbox"
          class="btn-check"
          id="btn-check2"
          autocomplete="off"
        />
        <label class="btn btn-primary" id="btn-label2" for="btn-check2"
          >동의합니다</label
        >
      </div>
    </div>
    <div class="p-3">
      <h5>추가 동의</h5>
      <div class="mt-3 border p-3">
        본 실험을 통해 얻어진 귀하의 자료는 향후의 다른 연구에서도 사용되어 더
        가치 있는 연구의 결과로 사용 될 수 있습니다. 귀하의 자료를 미래의 다른
        연구에 사용하는 것에 대해 다음 항목에 동의하시겠습니까?
      </div>
      <div class="d-flex justify-content-end mt-4">
        <input
          type="checkbox"
          class="btn-check"
          id="btn-check3"
          autocomplete="off"
        />
        <label class="btn btn-primary" id="btn-label3" for="btn-check3"
          >동의합니다</label
        >
      </div>
    </div>

    <form>
      <div class="info-input mt-3 p-3">
        <div class="mb-3">
          <label for="info-name" class="form-label">세션 코드</label>
          <input
            type="text"
            class="form-control"
            id="codeInput"
            placeholder="세션 코드"
          />
        </div>
        <div class="mb-3">
          <label for="info-name" class="form-label">참여자 성명</label>
          <input
            type="text"
            class="form-control"
            id="nameInput"
            placeholder="참여자 성명"
          />
        </div>
        <div class="mb-3">
          <label for="info-input" class="form-label"
            >참여자 휴대폰번호(예: 01011112222)</label
          >
          <input
            type="number"
            class="form-control"
            id="phoneInput"
            placeholder="01011112222"
          />
        </div>
        <div class="d-grid">
          <button disabled class="btn btn-primary" id="submitBtn">
            Submit
          </button>
        </div>
      </div>
    </form>
    <script>
      const checkBtn1 = document.querySelector("#btn-check1");
      const checkBtnLabel1 = document.querySelector("#btn-label1");
      const checkBtn2 = document.querySelector("#btn-check2");
      const checkBtnLabel2 = document.querySelector("#btn-label2");
      const checkBtn3 = document.querySelector("#btn-check3");
      const checkBtnLabel3 = document.querySelector("#btn-label3");
      // if check array is all true, submit button is enabled
      const submitBtn = document.querySelector("#submitBtn");

      let check = [false, false, false];

      checkBtn1.addEventListener("click", () => {
        checkBtn1.setAttribute("disabled", "");
        checkBtnLabel1.textContent = "동의 되었습니다";
        check[0] = true;

        if (check[0] && check[1] && check[2]) {
          submitBtn.removeAttribute("disabled");
        }
      });

      checkBtn2.addEventListener("click", () => {
        checkBtn2.setAttribute("disabled", "");
        checkBtnLabel2.textContent = "동의 되었습니다";
        check[1] = true;

        if (check[0] && check[1] && check[2]) {
          submitBtn.removeAttribute("disabled");
        }
      });

      checkBtn3.addEventListener("click", () => {
        checkBtn3.setAttribute("disabled", "");
        checkBtnLabel3.textContent = "동의 되었습니다";
        check[2] = true;

        if (check[0] && check[1] && check[2]) {
          submitBtn.removeAttribute("disabled");
        }
      });

      submitBtn.addEventListener("click", function (event) {
        event.preventDefault();

        const code = document.getElementById("codeInput").value;
        const name = document.getElementById("nameInput").value;
        const phone = document.getElementById("phoneInput").value;

        if (code.length && name.length && phone.length) {
          let data = {
            session_code: code,
            name: name,
            phone: phone,
            bank_balance: 200000,
          };
          window.localStorage.setItem("balance", 200000);
          window.localStorage.setItem("phone", phone);
          window.localStorage.setItem("session_code", code);
          fetch("/onboarding/new-user", {
            method: "POST",
            headers: { "Content-Type": "application/json" },
            body: JSON.stringify(data),
          }).then((res) => {
            if (res.status == 404) {
              alert("코드를 다시 확인하세요");
            } else if (res.status == 500) {
              alert("세션 컨디션 오류: 관리자에게 문의하세요");
            } else {
              console.log("Request complete! response:", res);
              window.location.href = "/onboarding/info";
            }
          });
        } else {
          alert("코드 번호, 이름과 휴대폰 번호를 확인해주세요.");
        }
      });
    </script>
  </body>
</html>
