<html lang="en" class="h-100">
  <head>
    <%- include('../../partials/head'); %>
  </head>
  <body class="d-flex flex-column h-100">
    <%- include('../../partials/navbar', {title: "실험 전 안내사항"}) %>
    <div class="mt-5 p-3">
      <p>
        지금부터 실험을 시작하겠습니다.
        <br />
        <br />
        첫 번째 실험 절차는 사전 설문입니다. 아래 설문으로 이동하여 설문을 먼저
        마쳐주세요.
        <br />
        <br />
        “제출” 버튼을 잊지 말고 누르시길 바랍니다.
      </p>
      <div class="d-grid gap-2 d-md-block">
        <button class="btn btn-primary button-1" type="button" onclick="window.open('https://ko.surveymonkey.com/r/mts_pre','_blank')">설문 시작하기</button>
      </div>
    </div>
    <div>
      <div class="d-grid fixed-bottom">
        <button
          class="btn btn-primary py-3 rounded-0 button-2"
          disabled
          onclick="location.href='/onboarding/info3'"
        >
          확인
        </button>
      </div>
    </div>
    <script>
      let button1 = document.querySelector(".button-1");
      let button2 = document.querySelector(".button-2");
      button1.addEventListener("click", () => {
        button2.removeAttribute("disabled");
      });
    </script>
  </body>
</html>
