<html lang="en" class="h-100">
  <head>
    <%- include('../../partials/head'); %>
  </head>
  <body class="d-flex flex-column h-100">
    <%- include('../../partials/navbar', {title: "실험 전 안내사항"}) %>
    <div class="mt-5 p-3">
      <h5>필수 숙지 사항 (계속)</h5>
      <p>
        투자자가
        <u>가장 많이 산 주식은 가격 상승, 그렇지 않은 주식은 가격 하락</u>을
        맞이하게 됩니다. 각각의 가격 상승과 가격 하락의 절대적 영향력은 상승주와
        하락주가 같습니다.
        <br />
        <br />
        귀하의 참여비는 주식 투자 수익률에 따라 차등지급 됩니다.
        <u>수익률에 따라 최대 5000원의 참여비</u>를 가져가실 수
        있습니다.
        <br />
        <br />
        수익률 산정은 본 실험 내에서 처음 주어진 씨드머니와 최종 보유 주식
        금액의 차이로 산정됩니다.
      </p>
    </div>
    <div>
      <div class="d-grid fixed-bottom">
        <button
          class="btn btn-primary py-3 rounded-0"
          disabled
          onclick="location.href='/onboarding/info5'"
        >
          확인
        </button>
      </div>
    </div>
    <script>
      let button = document.querySelector("button");
      setTimeout(() => {
        button.removeAttribute("disabled");
      }, 15000);
    </script>
  </body>
</html>
