<html lang="en" class="h-100">
  <head>
    <%- include('../../partials/head'); %>
  </head>
  <body class="d-flex flex-column h-100">
    <%- include('../../partials/navbar', {title: "실험 전 안내사항"}) %>
    <div class="mt-5 p-3">
      <h5>실험내용 안내</h5>
      <p>
        귀하는 해당 실험에서 모바일 상에서 주식 종목 구매 의사 결정의 일부를
        경험하게 됩니다. 실제 주식 종목 구매의 환경처럼 이입하여 의사결정을
        내려주시길 바랍니다. 본 실험의 참여비는 투자 성과에 따라 차등 지급되오니
        열정적인 참여 부탁드리겠습니다.
        <br />
        <br />
        본 실험은 사전 설문, 본 실험, 사후 설문으로 이루어져있으며 예상
        소요시간은 약 30분입니다.
      </p>
    </div>
    <div>
      <div class="d-grid fixed-bottom">
        <button
          class="btn btn-primary py-3 rounded-0"
          disabled
          onclick="location.href='/onboarding/info2'"
        >
          확인
        </button>
      </div>
    </div>
    <script> 
        let button = document.querySelector('button');
        setTimeout(() => {
            button.removeAttribute('disabled');
        }, 5000);
    </script>
  </body>
</html>
