<html lang="en" class="h-100">
  <head>
    <%- include('../../partials/head'); %>
  </head>
  <body class="" style="background-color: #fafafa; padding-bottom: 80px; padding-top: 60px;">
    <%- include('../../partials/stock-info', {data: {name: "수기이노텍", id:
    "sugi", price: "38,510"}} ) %>
    
    <div class="px-4 py-4">
      <div class="d-grid gap-2">
        <button class="btn btn-primary py-3" type="button" style="border-radius: 10px;">투자정보 및 현황 <i class="bi bi-chevron-right"></i></button>
      </div>
    </div>

    <div class="px-4 py-4">
      <h3 class="mb-3">주요 사업</h3>
      <div class="d-flex justify-content-center">
        <div class="text-center px-4 ">
          <i class="fa-solid fa-camera mb-3" style="font-size: 50px"></i>
          <p>카메라 모듈</p>
        </div>
        <div class="text-center px-4">
          <i class="fa-solid fa-car mb-3" style="font-size: 50px"></i>
          <p>차랑용 전장 부품</p>
        </div>
        <div class="text-center px-4">
          <i class="fa-solid fa-desktop mb-3" style="font-size: 50px"></i>
          <p>디스플레이</p>
        </div>
      </div>
      
    </div>
    <%- include('../../partials/timer', {btn:
    "주문"}) %>
  </body>
</html>
