<html lang="en" class="h-100">
  <head>
    <%- include('../../partials/head'); %>
  </head>
  <body class="d-flex flex-column h-100" onload="checkWebToken()">
    <%- include('../../partials/navbar', {title: "Admin"}) %>
    <div class="d-flex flex-column text-center" style="margin: auto">
      <div>
        <h1>새로운 세션 생성하기</h1>
        <div class="d-grid">
          <button class="btn btn-primary" type="button">생성하기</button>
        </div>
      </div>
      <div class="mt-5">
        <h1>현재 생성된 세션</h1>
        <table class="table">
            <thead>
                <tr>
                <th>세션 코드</th>
                <th>생성 시간</th>
                <th>세션 상태</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                <td>세션1</td>
                <td>2020-01-01</td>
                <td>진행중</td>
                </tr>
                <tr>
                <td>세션2</td>
                <td>2020-01-01</td>
                <td>진행중</td>
                </tr>
                <tr>
                <td>세션3</td>
                <td>2020-01-01</td>
                <td>진행중</td>
                </tr>
            </tbody>
        </table>
      </div>
    </div>

    <script>
      function checkWebToken() {
          if (localStorage.getItem("webToken") == null) {
              location.href = "admin/login";
          }
      }
    </script>
  </body>
</html>
